@tailwind base;
@tailwind components;
@tailwind utilities;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

*{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }